
#respuesta{
 position: absolute;
 width: 46%;
}
h4{
	margin-left: 2%;
}

@keyframes parpadeo{
 from, to{border-color:transparent}
 50%{border-color:rgba(0,0,0,0.8)}
}
@keyframes escribiendo{
 from{width:100%}
 to{width:0}
}
@-webkit-keyframes parpadeo{
 from, to{border-color:transparent}
 50%{border-color:rgba(0,0,0,0.8)}
}
@-webkit-keyframes escribiendo{
 from{width:100%}
 to{width:0}
}
@-moz-keyframes parpadeo {
 from, to{border-color:transparent}
 50%{border-color:rgba(0,0,0,0.8)}
} 
@-moz-keyframes escribiendo {
 from{width:100%}
 to{width:0}
}
#respuesta span{
 position:absolute;
 top:0;
 right:0;
 width:0;
 height: 100%;
 background-color:#FFF;
 border-left: .1em solid rgba(0,0,0,0.8);
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 animation: escribiendo 5s steps(36, end), parpadeo 1s step-end infinite;
 -webkit-animation: escribiendo 5s steps(36, end), parpadeo 1s step-end infinite;
 -moz-animation: escribiendo 5s steps(36, end), parpadeo 1s step-end infinite;
}