body{
	font-family: Roboto condensed;
}
.table{ 
	display: table;
	width: 100%;
	margin: auto;
	margin-bottom: 0px !important;
}
section .presupuesto .cont-pasos .paso p, .linea p {
    font-size: 20px;
    font-family: Roboto condensed;
    margin-bottom: 0px;
}
section .presupuesto .cont-btn button {
    background-color: #001D7E;
    border-radius: 2px;
}
section .presupuesto{
	overflow: hidden;
    padding: 60px 0;
}
section .presupuesto .cont-pasos .paso{
	width: 30%;
}
section .presupuesto .cont-pasos .paso span{
	color: #5E5E5E;
	font-size: 28px;
	line-height: 32px;
	font-weight: 400;
	text-align: center;
	width: 111px;
	height: 80px;
	margin: 0 auto;
	display: block;
	padding-top: 12px;
}
section .presupuesto .cont-pasos .obra{
	background: url(../imagenes/js.png) no-repeat center top;
}
section .presupuesto .cont-pasos .obra.active{
	background: url(../imagenes/js-activo.png) no-repeat center top;
}

section .presupuesto .cont-pasos .datos{
	background: url(../imagenes/css.png) no-repeat center top;
}
section .presupuesto .cont-pasos .datos.active{
	background: url(../imagenes/css-activo.png) no-repeat center top;
}

section .presupuesto .cont-pasos .paso p{
	font-family: 'Raleway', sans-serif;
	color: #CCCCCC;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
	padding-bottom: 10px;
  	background: url(../img/iconos/bg-linea-presupuesto-1.png) no-repeat center bottom;
}

section .presupuesto .cont-pasos .paso.active p{
	color: #5E5E5E;
	font-weight: 500;
}
section .presupuesto .cont-pasos .linea hr{
	height: 1px;
	background: #DDDDDD;
}
section .presupuesto .pasos p{
	overflow: hidden;
	margin-bottom: 10px;
}
section .presupuesto .pasos p label{
	float: left;
	color: #555555;
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
	padding-right: 10px;
	padding-top: 5px;
	width: 20%;
	text-align: right;
}
section .presupuesto .pasos p input{
	float: left;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	box-shadow: none;
	width: 100%;
	padding: 10px;
    height: 34px;
	color: #888888;
}
section .presupuesto .pasos p textarea{
	float: left;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	box-shadow: none;
	min-height: 60px;
	width: 100%;
	color: #5E5E5E;
}
section .presupuesto .cont-btn{
	overflow: hidden;
}
section .presupuesto .cont-btn button{
	border-radius: 30px;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    line-height: 15px;
    background: #1059AC;
    padding: 15px 45px;
    display: block;
    cursor: pointer;
    border: 0;
    margin: 30px 0 30px 15px;
    text-transform: uppercase;
    font-weight: 400;
    height: 45px;
    width: 170px;
}
section .presupuesto .cont-btn .boton-atras{
	background: #fff;
	color: #312BA7;
	border: 1px solid #312BA7;
}

section .presupuesto .cont-btn .boton-atras:hover{
	background: #312BA7;
	color: #fff;
	border: 1px solid #312BA7;
}
section .presupuesto .cont-btn button:hover{
	opacity: 0.9;
}
section .presupuesto .pasos .examinar label{
	float: left;
	color: #555555;
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
	padding-right: 10px;
	padding-top: 5px;
	width: 20%;
	text-align: right;
}
section .presupuesto .pasos .examinar .input-group{
	float: left;
    width: 100%;
}
section .presupuesto .pasos .examinar .input-group-btn{
	border-radius: 2px;
    float: right;
    padding-right: 0;
    text-align: center;
    padding: 10px 0;
    color: #FFF;
    font-size: 14px;
    height: 34px;
    width: 40%;
    text-transform: uppercase;
    line-height: 16px;
    background: #001D7E;
    margin: 0;
    cursor: pointer;
}

section .presupuesto .pasos .examinar .input-group-btn:hover{
	opacity: 0.8;
}
section .presupuesto .pasos .examinar .input-group-btn span{
	border-radius: 0;
}
section .presupuesto .pasos .examinar .input-group input[type=text]{
	width: 50%;
    float: left;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    box-shadow: none;
    padding: 10px;
    height: 34px;
    background: #FFF;
    color: #5E5E5E;
    text-align:right;
}

/*Estilos de HTML a CSS*/
.subrayar{
	width: 15%;
	border-bottom: 1px solid; 
	color: #3023AA;
	margin-right: auto; 
	margin-left: auto;
	margin-bottom: 30px;
}
.linea hr{
	border-color: #DDDDDD; 
	margin-top: 75px;
}
#estado2{
	display: none;
}
.plano {
	margin-top: 10px; 
	margin-right: 10px; 
	width: 55%;
}
#animated, #bounce, #bounceR, #javascript, #click-evt, #disp-none, #disp-block, #id-resp{
	display: none;
}
form .pasos .cursor, form .marca .cursor{ /*Quita el cursor del input*/
	color: transparent ;
}
.cursor:focus{
	outline: none;
}
